/*============================================================

                           ~ neos ~
                     Add-On: Header Image

============================================================*/

/* Example images: https://github.com/ZerafinaCSS/zerafinacss.github.io/tree/main/ao3/header-image */

#header::after {
  display: block;
  order: 3;
  width: 100%;
  height: 17vw;
  border-top: var(--border-width) solid var(--border2); /* same as header bottom border */
  background:
    url("") /* paste image url between quotation marks; recommended size: 2240x375px (or same aspect ratio) */
    var(--bg8) /* fallback background color */
    no-repeat;
  background-size: cover;
  content: "";
}