/*============================================================

                           ~ neos ~
                      Theme: Tumblr Blue
                      
Inspired by the "Low-contrast classic" tumblr color palette

==============================================================
GLOBAL VARIABLES
==============================================================

Color palettes used for main backgrounds, borders, text and interaction elements:

- Grayblue:    https://coolors.co/0d141b-1a2735-26323f-263b53-36465d-3d4c62-48566a-596578-687384
- Gray:        https://coolors.co/000000-828790-b3b3b3-bfbfbf-d9d9d9-f2f2f2-ffffff
- Accent blue: https://coolors.co/529ecc-00b8ff

*/

:root {

/*>========== UI PARAMETERS ==========<*/

  /* space on left/right side of screen */
  --margins-header:      1rem;                     /* header on desktop */
  --margins-main:        5%;                       /* site contents on desktop */
  --margins-narrow:      2.5%;                     /* site contents and header on tablet/mobile */

  /* border-radius (= roundness of corners) */
  --radius-small:        0.25rem;                  /* smaller elements: list elements, input elements etc. */
  --radius-mid:          6px;                      /* midsizde elements: dropdown menus, system messages etc. */
  --radius-big:          8px;                      /* bigger elements: blurbs, forms, comments, textareas etc. */
  --radius-btn:          14px;                     /* header search box, buttons */
  --radius-tag:          14px;                     /* tags */

  /* icon border-radius */
  --icon-content-radius: 0.25rem;                  /* content and bookmark icon */
  --icon-primary-radius: 99999px;                  /* primary and comment icon */
  --icon-index-radius:   0.25rem;                  /* index icon */


/*>========== MAIN BACKGROUND COLORS ==========<*/

  --bg1:                 #1A2735;                  /* main background, footer etc. */
  --bg2:                 transparent;              /* header */
  --bg3:                 transparent;              /* dashboard */
  --bg4:                 #36465D;                  /* forms, modal dialogs, javascript context etc. */
  --bg5:                 #263B53;                  /* content boxes (blurbs, comments etc.), meta box */
  --bg6:                 #3D4C62;                  /* dropdown and secondary menus, tooltips etc. */
  --bg7:                 #26323F;                  /* own blurbs, listbox, some even/odd list items etc. */
  --bg8:                 #529ECC;                  /* collection header */


/*>========== MAIN BORDERS ==========<*/

  /* colors */
  --border1:             #FFFFFF21;                /* dashboard, footer, news, blockquote, scrollbar track etc. */
  --border2:             #FFFFFF21;                /* header, tables, forms, input elements, listbox etc. */
  --border3:             none;                     /* content boxes (blurbs, comments etc.), dropdown and secondary menus */
  --border4:             #3D4C62;                  /* meta boxes, tooltips, scrollbar thumb etc. */

  /* width */
  --border-width:        1px;                      /* for almost all borders (experimental - changing this might cause some weirdness) */


/*>========== SHADOWS ==========<*/
/* replace values with "none" (without quotation marks) to remove shadows */

  --shadow:              0 2.5px 15px #00000080;   /* secondary elements, dropdowns, tooltips etc. */
  --shadow-header:       none;
  --shadow-buttons:      none;


/*>========== MAIN TEXT ==========<*/

  /* text size */
  --txt-size-main:       103%;                     /* main text size (bigger than 130% causes some issues, but is still mostly functional) */
  --txt-size-work:       113%;                     /* work text size */

  /* text colors */
  --txt-header:          #B3B3B3;                  /* header text */
  --txt-header-hgl:      #529ECC;                  /* selected header dropdown toggle and link items */
  --txt-header-hgl-h1:   linear-gradient(to right, #529ECC, #56BC8A, #CDAE00, #D38A25, #D9664A, #D977BA, #AF73D4); /* gradient for selected AO3 header title */
  --txt-main:            #B3B3B3;                  /* main body text */
  --txt-alt1:            #B3B3B3;                  /* announcements */
  --txt-alt2:            #000000;                  /* checkbox checkmark, help symbol, event announcements etc. */

  /* links */
  --link:                #529ECC;                  /* link color */
  --link-hgl:            #00B8FF;                  /* color for hovered/focused links */
  --link-visited:        #596578;                  /* color for already visited links + header search bar icon */
  --link-underline:      1px solid transparent;    /* link underline => delete "transparent" to make link underlines visible */


/*>========== INTERACTION COLORS ==========<*/
/* = buttons, input and select elements */

  /* button colors */
  --int-btn-bg:          transparent;              /* background */
  --int-btn-border:      #FFFFFF21;                /* border */
  --int-btn-txt:         #B3B3B3;                  /* text */
  --int-btn-hgl-bg:      #529ECC;                  /* background for hovered/focused buttons */
  --int-btn-hgl-txt:     #000000;                  /* text for hovered/focused buttons */                                                                        

  --int-bg:              #0D141B10;                /* background for input and select elements */

  --int-current-bg:      #BFBFBF26;                /* background for currently active elements */
  --int-current-txt:     #D9D9D9;                  /* text for currently active elements */
  --int-disabled-bg:     #26323F;                  /* background for disabled buttons and checkboxes */
  --int-checked:         #529ECC;                  /* checked checkboxes and radio buttons */
  
  --int-hgl:             #00B8FF;                  /* highlight for hovered/focused/selected elements */
  --int-hgl-bg:          #BFBFBF26;                /* background for hovered/focused list items */
  --int-hgl-txt:         #F2F2F2;                  /* text for hovered/focused list items and for collection header */


/*>========== ICON COLORS ==========<*/
/* palette: https://coolors.co/48566a-529ecc-56bc8a-cdae00-d38a25-d9664a-d977ba-af73d4 */

  /* bookmark and content icons (mostly) */  
  --icon1:               #56BC8A;                  /* gen, complete, public bookmark */
  --icon2:               #CDAE00;                  /* teen */
  --icon3:               #529ECC;                  /* m/m, external work */
  --icon4:               #D38A25;                  /* mature, chose not to warn, rss feed */
  --icon5:               #AF73D4;                  /* f/m */
  --icon6:               #D9664A;                  /* explicit, f/f, warning, incomplete */
  --icon7:               #529ECC;                  /* private bookmark */
  --icon8:               #D9664A;                  /* hidden bookmark */
  --icon9:               #D977BA;                  /* rec bookmark */

  /* gradient overlay for the bookmark and content icons above */
  --icon-grd:       none;

  /* other icons */
  --icon-bg:             #48566A;                  /* background for empty icon box or uploaded icon with transparent background */
  --icon-id:             #529ECC;                  /* user, skin, tag, admin */
  --icon-anon:           #48566A;                  /* guest, anonymous user */
  --icon-coll:           #529ECC;                  /* collection, unrevealed work */

  /* icon borders */
  --icon-border1:        none;                     /* border for most icons */
  --icon-border2:        none;                     /* uploaded, default user and mystery icon + empty symbols box */


/*>========== TAG COLORS ==========<*/
/* palette: https://coolors.co/828790-56bc8a-d977ba-ff4930-ec583d-ff8a00 */

  /* background */
  --tag-default-bg:      transparent;
  --tag-fandom-bg:       transparent;
  --tag-warning-bg:      transparent;
  --tag-ship-bg:         transparent;
  --tag-character-bg:    transparent;
  --tag-freeform-bg:     transparent;

  /* text */
  --tag-default-txt:     #828790;
  --tag-fandom-txt:      #D977BA;
  --tag-warning-txt:     #EC583D;
  --tag-ship-txt:        #D38A25;
  --tag-character-txt:   #56BC8A;
  --tag-freeform-txt:    #828790;

  /* border */
  --tag-border:          none;

  /* hover and focus */
  --tag-hgl-bg:          #00B8FF;                  /* background */
  --tag-hgl-txt:         #000000;                  /* text */


/*>========== COLORS FOR ROLES AND STATES + SYSTEM MESSAGES ==========<*/
/* palette: https://coolors.co/9381d9-af73d4-56bc8a-d79b50-d38a25-d97568-ec583d */

  /* background */
  --notice-bg:           #9381D9; 
  --success-bg:          #56BC8A;
  --caution-bg:          #D79B50;
  --alert-bg:            #D97568;

  /* text (and borders) => system messages/notices get overridden below */
  --notice-txt:          #AF73D4;
  --success-txt:         #56BC8A;
  --caution-txt:         #D38A25;
  --alert-txt:           #EC583D;


/*>========== FILTERS ==========<*/
/* the colors of the following elements can only be changed using filters; adjust filter values to change colors */

  --header-icon:         brightness(0) saturate(100%) invert(77%) sepia(16%) saturate(0%) hue-rotate(238deg) brightness(93%) contrast(83%);
  --header-icon-hgl:     brightness(0) saturate(100%) invert(62%) sepia(20%) saturate(996%) hue-rotate(159deg) brightness(88%) contrast(103%); /* hover/focus */
  --kudos-icon:          brightness(0) saturate(100%) invert(45%) sepia(53%) saturate(639%) hue-rotate(325deg) brightness(98%) contrast(90%);
  --lock-icon:           invert(100%) opacity(0.5);
  --stats-icon:          invert(100%) opacity(0.25);
  --stat-chart:          invert(100%) saturate(500%) hue-rotate(50deg) brightness(70%) contrast(80%);
  --rich-txt-editor:     invert(90%) hue-rotate(540deg) brightness(110%) contrast(110%) saturate(200%);

}

/*============================================================
>> A2 FONTS
============================================================*/
/* Not all the fonts are freely available but Helvetica or Arial should be installed on most devices.
Additionally, I recommend downloading and installing the open source font "Instrument Sans": https://fonts.google.com/specimen/Instrument+Sans */

/* main font family */
body,
input,
textarea,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
blockquote,
.prompt .blurb h6,
.bookmark .user .meta,
a.work,
span.symbol,
.heading .actions,
.heading .action,
.heading span.actions,
button,
span.unread,
span.replied,
span.claimed,
.actions span.defaulted,
.datetime {
  font-family: "Favorit", "Instrument Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

/* headings font family */
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Favorit Modern", "Instrument Sans", "Favorit", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

/* "code" font family */
kbd,
tt,
code,
var,
pre,
samp,
textarea#skin_css,
.css.module blockquote pre,
.splash .news .meta {
  font-size: 0.95em;
  font-family: Courier, monospace;
}

/*============================================================
>> 03 REGION: HEADER
============================================================*/

/*>========== header title/heading ==========<*/

/* new AO3 title/heading */
#header .heading a::before {
  font-weight: 900;
  font-size: 1.3em;
  font-family: "TeX Gyre Bonum", "Bookman Old Style", Bookman, Georgia, Serif;
  content: "fanblr";
}

/*>========== header navigation / dropdown toggles ==========<*/

/*>>========== header icons ==========<<*/

/* user icon (replaces the "Hi, [username]!") */
#header #greeting .dropdown > a[href*="/users/"] {
  content: url(https://zerafinacss.github.io/ao3/header-icons/user-02.png);
}

/* "Post" icon */
#header #greeting .dropdown > a[href*="/works/new"] {
  content: url(https://zerafinacss.github.io/ao3/header-icons/new-work-02.png);
}

/* "Log Out" icon */
#header #greeting a[href*="/users/logout"] {
  content: url(https://zerafinacss.github.io/ao3/header-icons/logout-02.png);
}

/* settings for the icons */
#header #greeting > ul > li > a {
  height: 16px;
  padding: 11px 0;
}

/*>========== primary navigation ==========<*/
/* this is the header navigation bar with Fandoms, Browse, Search and About and the search bar */

#header .primary {
  justify-content: center;
}

#header .primary > li > a {
  font-weight: 700; /* bold primary navigation text */
}

/*>>========== primary navigation: header search bar ==========<<*/

/* change the look of header search bar */
#header #search .text {
  border-width: 0.5px !important;
  border-color: transparent;
  background-color: var(--int-disabled-bg);
}

/*============================================================
>> 07 INTERACTIONS
============================================================*/

/* see "Archive: (7) interactions skin" by AO3 */
/*>========== form rules ==========<*/

/* when element is selected to receive input */
input[type="text"]:focus,
.search input[type="text"]:focus,
#header #search input:focus,
input#user_password:focus,
select:focus,
textarea:focus {
  outline-width: 1.5px;
}

/*>========== INPUT ELEMENTS: checkboxes, radio buttons etc. ==========<*/

/*>>========== RADIO BUTTONS ==========<<*/

/* style checked radio buttons */
input[type="radio"]:checked,
.filters [type="radio"]:checked {
  border-width: 3.5px !important;
  background-color: transparent;
}

/*>========== WIDGET: LIVE VALIDATION ==========<*/

.LV_invalid {
  color: var(--txt-alt2);
  background: var(--alert-txt);
}

/*============================================================
>> 08 ACTIONS: BUTTONS
============================================================*/
/* see "Archive: (8) actions skin" by AO3 */

.actions a,
.actions a:is(:link, :visited),
.actions label,
.actions button,
.action,
.action:is(:link, :visited),
.action a,
.action a:is(:link, :visited),
button,
label.action,
.actions input,
input[type="submit"],
.current,
.announcement input[type="submit"],
.announcement .action,
input::file-selector-button {
  padding: 4px 14px;
  border-width: 1.5px !important;
}

/* fix chapter actions */
.chapter.actions li *:is(a, input):not(:hover, :focus) {
  background: var(--bg1);
}

/* make pagination and alphabet buttons rounder */
.pagination.actions li:not(.next) a,
.pagination.actions li .current,
.actions.alphabet a {
  min-width: 0.6em;
  padding-inline: 0.643em;
}

/*>========== subtypes and modes ==========<*/

/* button to delete added tags (idk if it is anywhere else) */
.delete a,
span.delete,
span.delete a {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1;
  color: inherit;
}

/*============================================================
>> 09 ROLES AND STATES
============================================================*/

/* remove borders */
span.claimed,
.actions span.defaulted,
.nominations .unreviewed,
.unreviewed.symbol,
span.replied,
.nominations .approved,
.approved.symbol,
span.unread,
.nominations .rejected,
.rejected.symbol {
  border-color: transparent;
}

/* override text color */
.unreviewed.symbol,
.approved.symbol,
.rejected.symbol,
span.replied,
span.unread {
  color: var(--txt-alt2);
}

/*============================================================
>> 10 TYPES OF DATA, GROUPS OF DATA
============================================================*/

/*>========== TYPE: TAGS ==========<*/

/*>>========== new tag styling ==========<<*/

/* tag layout */
.tags.commas:has(a.tag, a[data-remote="true"]) {
  column-gap: 12px; /* width of gap between neighbouring tags */
}

/* change appearance of tags here */
/* excluding fandom list, fav tags on splash page and heading tags in some places */
a.tag:not(.fandom.index.group a.tag, h2.heading a.tag, .splash .favorite a.tag),
.tags a[data-remote="true"], /* = hidden warnings/additional tags (can be set in preferences) */
.unwrangled,
.added.tag {
  margin-block: 0.15em; /* gap between tag rows; needs to be done with margin because row-gap is not allowed on AO3 (as of August 2025) */
  padding: 0;
  border: var(--border-width) solid var(--tag-border);
  font-size: 0.95em;
  line-height: 1.25;
  text-decoration: none;
}

/* repair and format fandom and collection heading tags */
.blurb h5.fandoms.heading a.tag,
.blurb h5.tags.heading a.tag {
  margin-right: 12px;
}

/* add hashtag */
a.tag:not(.fandom.index.group a.tag, h2.heading a.tag)::before {
  content: "#";
}

/* tag hover and focus */
a.tag:not(.fandom.index.group a.tag, h2.heading a.tag, .splash .favorite a.tag):is(:hover, :focus),
.listbox .heading a.tag:visited:is(:hover, :focus),
.tags a[data-remote="true"]:is(:hover, :focus) {
  box-shadow: 0 0 0 1.75px var(--tag-hgl-bg);
}

/*>>========== added tags (search, filters, bookmarks etc.) ==========<<*/

.autocomplete li.added,
.post .meta dd ul li.added {
  padding: 2px 8px;
  background: var(--int-current-bg);
  color: var(--text-main);
}

li.added:is(:hover, :focus) {
  border-color: var(--alert-txt);
  background: var(--alert-bg);
  color: var(--txt-alt2);
}

li.added:is(:hover, :focus) .delete a {
  color: inherit;
}

/*============================================================
>> 13 GROUP: BLURB
============================================================*/
/* see "Archive: (13) group blurb skin" by AO3 */

/*>========== various little mods ==========<*/

/*>>========== mod: READING ==========<<*/

/* "last visited" (History) */
.reading h4.viewed {
  background: linear-gradient(to right, var(--bg4) 25%, transparent);
}

/*============================================================
>> 22 SYSTEM MESSAGES
============================================================*/

/* override style for notices */
.notice,
.comment_notice,
.kudos_notice,
ul.notes,
.caution,
.error,
div.error,
.comment_error,
.kudos_error,
.alert.flash,
.required.notice,
form .notice,
form ul.notes,
.alert .userstuff {
  border: none;
  color: var(--txt-alt2);
}