/*============================================================

                           ~ neos ~
                   Theme: Dusky Dark Purple

==============================================================
GLOBAL VARIABLES
==============================================================

Color palettes used for main backgrounds, borders, text and interaction elements:

- Purple + rose:          https://coolors.co/161417-872d55-ad396f-d44e8d-e882a9-bd8a96-f3cace
- Darker purple + violet: https://coolors.co/1f1b21-262029-302433-3c293c-472e44-55354e-7f416e-a94c8d
  
*/

:root {


/*>========== UI PARAMETERS ==========<*/

  /* space on left/right side of screen */
  --margins-header:      1rem;                     /* header on desktop */
  --margins-main:        5%;                       /* site contents on desktop */
  --margins-narrow:      2.5%;                     /* site contents and header on tablet/mobile */

  /* border-radius (= roundness of corners) */
  --radius-small:        0.25rem;                  /* smaller elements: list elements, input elements etc. */
  --radius-mid:          0.25rem;                  /* midsizde elements: dropdown menus, system messages etc. */
  --radius-big:          0.35rem;                  /* bigger elements: blurbs, forms, comments, textareas etc. */
  --radius-btn:          0.25rem;                  /* header search box, buttons */
  --radius-tag:          0.25rem;                  /* tags */

  /* icon border-radius */
  --icon-content-radius: 0.25rem;                  /* content and bookmark icon */
  --icon-primary-radius: 99999px;                  /* primary and comment icon */
  --icon-index-radius:   0.25rem;                  /* index icon */


/*>========== MAIN BACKGROUND COLORS ==========<*/

  --bg1:                 #262029;                  /* main background, footer etc. */
  --bg2:                 #302433;                  /* header */
  --bg3:                 transparent;              /* dashboard */
  --bg4:                 #302433;                  /* forms, modal dialogs, javascript context etc. */
  --bg5:                 #262029;                  /* content boxes (blurbs, comments etc.), meta box */
  --bg6:                 #3C293C;                  /* dropdown and secondary menus, tooltips etc. */
  --bg7:                 #302433;                  /* own blurbs, listbox, some even/odd list items etc. */
  --bg8:                 #872D55;                  /* collection header */


/*>========== MAIN BORDERS ==========<*/

  /* colors */
  --border1:             #472E44;                  /* dashboard, footer, news, blockquote, scrollbar track etc. */
  --border2:             #472E44;                  /* header, tables, forms, input elements, listbox etc. */
  --border3:             #55354E;                  /* content boxes (blurbs, comments etc.), dropdown and secondary menus */
  --border4:             #7F416E;                  /* meta boxes, tooltips, scrollbar thumb etc. */

  /* width */
  --border-width:        1px;                      /* for almost all borders (experimental - changing this might cause some weirdness) */


/*>========== SHADOWS ==========<*/

  --shadow:              none;                     /* secondary elements, dropdowns, tooltips etc. */
  --shadow-header:       none;
  --shadow-buttons:      none;


/*>========== MAIN TEXT ==========<*/

  /* text size */
  --txt-size-main:       100%;                     /* main text size (bigger than 130% causes some issues, but is still mostly functional) */
  --txt-size-work:       110%;                     /* work text size */

  /* text colors */
  --txt-header:          #BD8A96;                  /* header text */
  --txt-header-hgl:      #D44E8D;                  /* selected header dropdown toggle and link items */
  --txt-header-hgl-h1:   linear-gradient(125deg, #D44E8D, #BD8A96 120%); /* gradient for selected AO3 header title */
  --txt-main:            #BD8A96;                  /* main body text */
  --txt-alt1:            #BD8A96;                  /* announcements */
  --txt-alt2:            #1F1B21;                  /* checkbox checkmark, help symbol, event announcements etc. */

  /* links */
  --link:                #AD396F;                  /* link color */
  --link-hgl:            #D44E8D;                  /* color for hovered/focused links */
  --link-visited:        #7F416E;                  /* color for already visited links + header search bar icon */
  --link-underline:      1px solid transparent;    /* link underline => delete "transparent" to make link underlines visible */


/*>========== INTERACTION COLORS ==========<*/
/* = buttons, input and select elements */

  /* button colors */
  --int-btn-bg:          #472E44;                  /* background */
  --int-btn-border:      #7F416E;                  /* border */
  --int-btn-txt:         #BD8A96;                  /* text */
  --int-btn-hgl-bg:      linear-gradient(125deg, #872D55, #D44E8D); /* background for hovered/focused buttons */
  --int-btn-hgl-txt:     #F7CFD2;                  /* text for hovered/focused buttons */                                                                        
  
  --int-bg:              #1F1B21;                  /* background for input and select elements */

  --int-current-bg:      #7F416E;                  /* background for currently active elements */
  --int-current-txt:     #F7CFD2;                  /* text for currently active elements */
  --int-disabled-bg:     #472E44;                  /* background for disabled buttons and checkboxes */
  --int-checked:         #AD396F;                  /* checked checkboxes and radio buttons */
  
  --int-hgl:             #D44E8D;                  /* highlight for hovered/focused/selected elements */
  --int-hgl-bg:          linear-gradient(125deg, #872D55, #D44E8D); /* background for hovered/focused list items */
  --int-hgl-txt:         #F7CFD2;                  /* text for hovered/focused list items and for collection header */


/*>========== ICON COLORS ==========<*/
/* palette: https://coolors.co/4cb7c3-5e96d6-b268cf-ea5a9a */

  /* bookmark and content icons (mostly) */  
  --icon1:               #5E73C8;                  /* gen, complete, public bookmark */
  --icon2:               #694CB8;                  /* teen */
  --icon3:               #694CB8;                  /* m/m, external work */
  --icon4:               #9B37A4;                  /* mature, chose not to warn, rss feed */
  --icon5:               #9B37A4;                  /* f/m */
  --icon6:               #AD396F;                  /* explicit, f/f, warning, incomplete */
  --icon7:               #9B37A4;                  /* private bookmark */
  --icon8:               #55354E;                  /* hidden bookmark */
  --icon9:               #AD396F;                  /* rec bookmark */

  /* other icons */
  --icon-bg:             #472E44;                  /* background for empty icon box or uploaded icon with transparent background */
  --icon-id:             linear-gradient(125deg, #D44E8D, #872D55); /* user, collection, skin, tag, unrevealed work, admin icon */
  --icon-anon:           #55354E;                  /* guest, anonymous user */

  /* icon borders */
  --icon-border1:        transparent;              /* border for most icons */
  --icon-border2:        #472E44;                  /* uploaded, default user and mystery icon + empty symbols box */


/*>========== TAG COLORS ==========<*/
/* palette: https://coolors.co/f3cedf-ebd8f3-dbeaf0 */

  /* background */
  --tag-default-bg:      #A94C8D35;
  --tag-fandom-bg:       #9B37A4;
  --tag-warning-bg:      #AD396F;
  --tag-ship-bg:         #694CB8;
  --tag-character-bg:    #7F416E;
  --tag-freeform-bg:     #A94C8D35;

  /* text */
  --tag-default-txt:     #BD8A96;
  --tag-fandom-txt:      #F7CFD2;
  --tag-warning-txt:     #F7CFD2;
  --tag-ship-txt:        #F7CFD2;
  --tag-character-txt:   #F7CFD2;
  --tag-freeform-txt:    #BD8A96;

  /* border */
  --tag-border:          transparent;

  /* hover and focus */
  --tag-hgl-bg:          linear-gradient(125deg, #872D55, #D44E8D); /* background */
  --tag-hgl-txt:         #F7CFD2;                  /* text */


/*>========== COLORS FOR ROLES AND STATES + SYSTEM MESSAGES ==========<*/
/* palette: https://coolors.co/deeaf7-2e6cb2-cffff2-008f85-fff7e5-856114-fcdce2-c72c53 */

  /* background */
  --notice-bg:           #131A2A; 
  --success-bg:          #051C1A;
  --caution-bg:          #171111;
  --alert-bg:            #200811;

  /* text (and borders) */
  --notice-txt:          #6D8DD1; 
  --success-txt:         #1A9D93;
  --caution-txt:         #D06864;
  --alert-txt:           #CC376B;


/*>========== FILTERS ==========<*/
/* the colors of the following elements can only be changed using filters; adjust filter values to change colors */

  --header-icon:         brightness(0) saturate(100%) invert(64%) sepia(35%) saturate(295%) hue-rotate(296deg) brightness(87%) contrast(86%);
  --header-icon-hgl:     brightness(0) saturate(100%) invert(40%) sepia(24%) saturate(1794%) hue-rotate(282deg) brightness(100%) contrast(86%); /* hover/focus */
  --kudos-icon:          brightness(0) saturate(100%) invert(48%) sepia(53%) saturate(3274%) hue-rotate(304deg) brightness(89%) contrast(85%);
  --lock-icon:           brightness(0) saturate(100%) invert(64%) sepia(35%) saturate(295%) hue-rotate(296deg) brightness(87%) contrast(86%);
  --stats-icon:          brightness(0) saturate(100%) invert(34%) sepia(18%) saturate(1308%) hue-rotate(264deg) brightness(89%) contrast(96%);
  --stat-chart:          invert(100%) sepia(100%) saturate(2000%) hue-rotate(300deg) brightness(60%) contrast(70%);
  --rich-txt-editor:     invert(100%) saturate(0) contrast(90%);

}