/*============================================================

                           ~ neos ~
                    Theme: Midnight Black

==============================================================
GLOBAL VARIABLES
==============================================================

Color palette used for main backgrounds, borders, text and interaction elements:

Grayscale: https://coolors.co/000000-090b0b-111515-181e1e-1f2626-333b3b-3f4b4b-627a7a-dae6e1
Cyan:      https://coolors.co/00767a-009ea3-00c5cc
  
*/

:root {


/*>========== UI PARAMETERS ==========<*/

  /* space on left/right side of screen */
  --margins-header:      1rem;                     /* header on desktop */
  --margins-main:        5%;                       /* site contents on desktop */
  --margins-narrow:      2.5%;                     /* site contents and header on tablet/mobile */

  /* border-radius (= roundness of corners) */
  --radius-small:        4px;                      /* smaller elements: list elements, input elements etc. */
  --radius-mid:          6px;                      /* midsizde elements: dropdown menus, system messages etc. */
  --radius-big:          8px;                      /* bigger elements: blurbs, forms, comments, textareas etc. */
  --radius-btn:          12px;                     /* header search box, buttons */
  --radius-tag:          12px;                     /* tags */

  /* icon border-radius */
  --icon-content-radius: 4px;                      /* content and bookmark icon */
  --icon-primary-radius: 6px;                      /* primary and comment icon */
  --icon-index-radius:   6px;                      /* index icon */


/*>========== MAIN BACKGROUND COLORS ==========<*/

  --bg1:                 #000000;                  /* main background, footer etc. */
  --bg2:                 #111515;                  /* header */
  --bg3:                 transparent;              /* dashboard */
  --bg4:                 var(--bg2);               /* forms, modal dialogs, javascript context etc. */
  --bg5:                 var(--bg1);               /* content boxes (blurbs, comments etc.), meta box */
  --bg6:                 var(--bg2);               /* dropdown and secondary menus, tooltips etc. */
  --bg7:                 #181E1E;                  /* own blurbs, listbox, some even/odd list items etc. */
  --bg8:                 #00767A;                  /* collection header */


/*>========== MAIN BORDERS ==========<*/

  /* colors */
  --border1:             #333B3B;                  /* dashboard, footer, news, blockquote, scrollbar track etc. */
  --border2:             var(--border1);           /* header, tables, forms, input elements, listbox etc. */
  --border3:             var(--border1);           /* content boxes (blurbs, comments etc.), dropdown and secondary menus */
  --border4:             var(--border1);           /* meta boxes, tooltips, scrollbar thumb etc. */

  /* width */
  --border-width:        1.5px;                    /* for almost all borders (experimental - changing this might cause some weirdness) */


/*>========== SHADOWS ==========<*/
/* replace values with "none" (without quotation marks) to remove shadows */

  --shadow:              none;                     /* secondary elements, dropdowns, tooltips etc. */
  --shadow-header:       none;
  --shadow-buttons:      none;


/*>========== MAIN TEXT ==========<*/

  /* text size */
  --txt-size-main:       100%;                     /* main text size (bigger than 130% causes some issues, but is still mostly functional) */
  --txt-size-work:       110%;                     /* work text size */

  /* text colors */
  --txt-header:          #DAE6E1;                  /* header text */
  --txt-header-hgl:      #00C5CC;                  /* selected header dropdown toggle and link items */
  --txt-header-hgl-h1:   linear-gradient(125deg, var(--txt-header), var(--txt-header-hgl)); /* gradient for selected AO3 header title */
  --txt-main:            var(--txt-header);        /* main body text */
  --txt-alt1:            var(--txt-header);        /* announcements */
  --txt-alt2:            var(--bg1);               /* checkbox checkmark, help symbol, event announcements etc. */

  /* links */
  --link:                #00A8AD;                  /* link color */
  --link-hgl:            var(--txt-header-hgl);    /* color for hovered/focused links */
  --link-visited:        #627A7A;                  /* color for already visited links + header search bar icon */
  --link-underline:      1px solid transparent;    /* link underline => delete "transparent" to make link underlines visible */


/*>========== INTERACTION COLORS ==========<*/
/* = buttons, input and select elements */

  /* button colors */
  --int-btn-bg:          var(--border1);           /* background */
  --int-btn-border:      var(--border1);           /* border */
  --int-btn-txt:         var(--txt-header);        /* text */
  --int-btn-hgl-bg:      var(--link);              /* background for hovered/focused buttons */
  --int-btn-hgl-txt:     #FFFFFF;                  /* text for hovered/focused buttons */                                                                        
  
  --int-bg:              #090B0B;                  /* background for input and select elements */

  --int-current-bg:      #1F2626;                  /* background for currently active elements */
  --int-current-txt:     var(--int-btn-hgl-txt);   /* text for currently active elements */
  --int-disabled-bg:     var(--bg6);               /* background for disabled buttons and checkboxes */
  --int-checked:         var(--link);              /* checked checkboxes and radio buttons */
  
  --int-hgl:             var(--txt-header-hgl);    /* highlight for hovered/focused/selected elements */
  --int-hgl-bg:          var(--link);              /* background for hovered/focused list items */
  --int-hgl-txt:         var(--int-btn-hgl-txt);   /* text for hovered/focused list items and for collection header */


/*>========== ICON COLORS ==========<*/
/* palette: https://coolors.co/292f2f-008e7e-007e9e-773ac7-b31f5b */

  /* bookmark and content icons (mostly) */  
  --icon1:               #009172;                  /* gen, complete, public bookmark */
  --icon2:               #0085A6;                  /* teen */
  --icon3:               var(--icon2);             /* m/m, external work */
  --icon4:               #773AC7;                  /* mature, chose not to warn, rss feed */
  --icon5:               var(--icon4);             /* f/m */
  --icon6:               #B31F5B;                  /* explicit, f/f, warning, incomplete */
  --icon7:               var(--icon2);             /* private bookmark */
  --icon8:               #292F2F;                  /* hidden bookmark */
  --icon9:               var(--icon6);             /* rec bookmark */

  /* other icons */
  --icon-bg:             var(--icon8);             /* background for empty icon box or uploaded icon with transparent background */
  --icon-id:             linear-gradient(125deg, var(--txt-header-hgl), var(--bg8)); /* user, collection, skin, tag, unrevealed work, admin icon */
  --icon-anon:           var(--border1);           /* guest, anonymous user */

  /* icon borders */
  --icon-border1:        none;                     /* border for most icons */
  --icon-border2:        none;                     /* uploaded, default user and mystery icon + empty symbols box */


/*>========== TAG COLORS ==========<*/
/* uses mostly the same colors as the icons, but with added transparency */

  /* background */
  --tag-default-bg:      #3F4B4B;
  --tag-fandom-bg:       #0085A6B3;
  --tag-warning-bg:      #B31F5BB3;
  --tag-ship-bg:         #773AC7B3;
  --tag-character-bg:    #009172B3;
  --tag-freeform-bg:     var(--tag-default-bg);

  /* text */
  --tag-default-txt:     #FFFFFFE6;
  --tag-fandom-txt:      #FFFFFFE6;
  --tag-warning-txt:     #FFFFFFE6;
  --tag-ship-txt:        #FFFFFFE6;
  --tag-character-txt:   #FFFFFFE6;
  --tag-freeform-txt:    #FFFFFFE6;

  /* border */
  --tag-border:          transparent;

  /* hover and focus */
  --tag-hgl-bg:          var(--link);              /* background */
  --tag-hgl-txt:         var(--int-btn-hgl-txt);   /* text */


/*>========== COLORS FOR ROLES AND STATES + SYSTEM MESSAGES ==========<*/
/* https://coolors.co/07252e-35bbe3-00241a-00c28e-261e11-dcad5b-2e0a1b-eb3b7b */

  /* background */
  --notice-bg:           #07252E; 
  --success-bg:          #00241A;
  --caution-bg:          #261E11;
  --alert-bg:            #2E0A1B;

  /* text (and borders) */
  --notice-txt:          #35BBE3; 
  --success-txt:         #00C28E;
  --caution-txt:         #DCAD5B;
  --alert-txt:           #EB3B7B;


/*>========== FILTERS ==========<*/
/* the colors of the following elements can only be changed using filters; adjust filter values to change colors */

  --header-icon:         brightness(0) saturate(100%) invert(86%) sepia(15%) saturate(102%) hue-rotate(103deg) brightness(108%) contrast(84%);
  --header-icon-hgl:     brightness(0) saturate(100%) invert(62%) sepia(23%) saturate(6137%) hue-rotate(139deg) brightness(88%) contrast(102%); /* hover/focus */
  --kudos-icon:          brightness(0) saturate(100%) invert(23%) sepia(60%) saturate(2452%) hue-rotate(308deg) brightness(89%) contrast(89%);
  --lock-icon:           var(--header-icon);
  --stats-icon:          brightness(0) saturate(100%) invert(46%) sepia(13%) saturate(265%) hue-rotate(131deg) brightness(94%) contrast(92%);
  --stat-chart:          invert(100%) hue-rotate(350deg) brightness(85%) contrast(80%) saturate(150%);
  --rich-txt-editor:     invert(95%) saturate(0);

}


/*============================================================
>> Z1 REPLACE THE ICONS AND IMAGES
============================================================*/

/*>========== ICONS FOR USERS, COLLECTIONS, TAGS etc. ==========<*/

/* default user icon */
img[src$="/images/skins/iconsets/default/icon_user.png"] {
  content: url("https://i.ibb.co/JWmJv92v/zerafina-icon-user-visitor-02.png"); /* url of new icon */
}